/* Navbar css */

.navbar-nav a{
  font-size: 18px;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aqua;
  height: 100vh;
}